<a href="https://colab.research.google.com/github/HwangGaHee/aipython/blob/main/0102%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2-6
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

In [ ]:
#2-7
Lab = 105
print('우리가 수업하는 실습실: ', Lab)

In [ ]:
#2-8
# 변수 두 개를 생성하고 값을 할당
my_id = 20150001
grade = 1
# 두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

In [ ]:
#2-9
dollars = 2.75
print('I have', dollars, 'in my account.')
dollars = 99.95
print('But now I have', dollars, 'in my account!')

In [ ]:
#2-10
department = '국어국문학과'
name = '홍길동'
print(department, name)

In [ ]:
#2-11
department = input('학과명: ')
print('안녕하세요', department, name)

In [ ]:
#2-12
name = input('당신의 이름은 무엇입니까? ')
age = int(input('나이는 어떻게 되시나요? '))
attending_time = float(input('통학시간은 얼마나 걸립니까? '))
print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

In [ ]:
#2-13
salary = 2500.0
bonus = 1200.0
pay = salary + bonus
print('총 급여: ', pay)

In [ ]:
#2-14
original_price = float(input("제품의 원가를 입력해주세요: "))
discount = original_price * 0.2
sale_price = original_price - discount
print('할인가격: ', sale_price)

In [ ]:
#2-15
test1=float(input("첫 번째 과목 점수를 입력해주세요 : "))
test2=float(input("두 번째 과목 점수를 입력해주세요 : "))
test3=float(input("세 번째 과목 점수를 입력해주세요 : "))
average=(test1+test2+test3)/3.0 #<-3으로 해도 됨
print("세 과목의 평균 점수 : ", average)

In [ ]:
#2-16
total_seconds= float(input("시간 값을 초 단위로 입력해주세요"))
hours=total_seconds//3600
minutes=(total_seconds//60)%60
seconds=total_seconds%60
print("시 분 초는 다음과 같습니다.")
print("시",hours)
print("분",minutes)
print("초",seconds)

In [ ]:
#2-17
future_value=float(input("목표 금액을 입력해주세요 : "))
rate=float(input("연간 이율을 입력해주세요 : "))
years=float(input("저축기간을 연단위로 입력해주세요 : "))
present_value=future_value/(1.0+rate)**years
print("적립금액 : ",present_value)

In [ ]:
#2-18
print("a","b","c")
print("a","b","c",sep="")
print("a","b","c",sep="***")

In [ ]:
#2-19
print('a')
print('b')
print('c', end='') #줄바꿈 없애는 방법
print('d', end='')
print('e', end='***')
print('f')