<a href="https://colab.research.google.com/github/HwangGaHee/aipython/blob/main/0105%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. split & join

In [11]:
#split
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n") #<- "Wn"제외하고 분리시켜줌
print(lines)

print()

for line  in lines:
  fields=line.split(",")
  print("name:", fields[0],"age:",fields[1],"occupation:",fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']

name: John age: 30 occupation: Engineer
name: Alice age: 25 occupation: Designer
name: Bob age: 22 occupation: Artist

In [12]:
#join
words=["a","가나","bcd"]
sentence="".join(words)
print(sentence)

a가나bcd

In [15]:
#lab1
input="Geeks for Geeks"
output=input.split(" ")
print(output)

#lab2
input2=['Geeks','for','Geeks']
output2='-'.join(input2) ###왜 -Geeks-for-Geeks-가 아닌건지??
print(output2)

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [17]:
#lab1응용
input="Geeks for Geeks"
print(input.split(" "))

['Geeks', 'for', 'Geeks']

2. list comprehension

In [2]:
s=[x**2 for x in range(7) if x%2==0]
print(s)

#list comprehension 형식
# new_list=[expression for item in iterable(리스트와 같은 반복가능한 객체) if condition]

[0, 4, 16, 36]
[0, 4, 16, 36]

In [6]:
#1-20사이의 3의 배수의 제곱 리스트 작성하기
s=[x**2 for x in range(1,21) if x%3==0]
print(s)

[9, 36, 81, 144, 225, 324]

In [11]:
#lab1
input=[1,2,3,4,5]
output=[input[i]**2 for i in range(len(input))]
print(output)

#lab2
input=["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
output=[input[i] for i in range(len(input)) if i%3==0]
print(output)

#lab2 list comprehension 쓰지말고 append 이용해서 해보기
#for c in ~

[1, 4, 9, 16, 25]
['Seoul', 'Shanghai']

3. enumerate & zip

In [12]:
fruitsss=['a','b','c']
for index,fruit in enumerate(fruitsss):
  print(index,fruit)

#enumerate(iterable, start=0)

0 a
1 b
2 c

In [21]:
#lab1 - enumearate 이용하기
input=['a','b','c']
for index,input in enumerate(input):
  #print("fruit",index, "name is ",input)
  print("fruit%d name is %s"%(index,input))

print()

#lab2 - range 이용하기
input=['a','b','c']
for i in range(len(input)):
  #print("fruit",i,"name is",input[i])
  print("fruit%d name is %s"%(i,input[i]))

fruit0 name is a
fruit1 name is b
fruit2 name is c

fruit0 name is a
fruit1 name is b
fruit2 name is c

3. enumerate & zip

In [22]:
#zip <- 튜플로 묶어서 반환
names=["John","Jane","Doe"]
ages=[25, 30, 35]

#a=dict(zip(keys, values)) <-? 이용하면 되는듯, 해보기

for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [29]:
#lab1 - 해결못함 p8

name=["M","N","S","A"]
roll_no=[4,1,3,2]

for name1, roll1 in zip(name,roll_no):

  print(f"('%s',%d)"%(name1,roll1),end=",")

('M',4),('N',1),('S',3),('A',2),

4. lambda & map

In [30]:
#lambda argument: expression <-이름 없는 함수를 정의할 때 사용

add= lambda x,y: x+y
print(add(5,6))

#def add(x,y): return x+y 이 함수를 정의해주지 않아도 바로 lambda를 이용해 사용가능

11

In [ ]:
#lambda랑 map 다시 제대로 보기
#list comprehension이랑 lambda는 꼭 기억하기